/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
	margin: 0;
	padding: 0;
	font: normal 12px arial, sans-serif;
	color: #333;
	position: relative;
	height: 100%;
	background: #f0efed;
	overflow-y: scroll;
}

#section-header {
	display: block;
	background: #222;
	height: 100px;
	color: #fff;
	position: relative;
}

#section-content {
  position: relative;
}

#region-content {
	margin-left: 0;
	margin-right: 0;
}

#views_slideshow_controls_text_slides-page {
	z-index: 20;
	top: 50%;
}

#views_slideshow_controls_text_slides-page a {
  color:white;
}


#views_slideshow_cycle_main_slides-page .slide {
	overflow: hidden;
	position: relative;
}

#views_slideshow_cycle_main_slides-page .illus img {
	position: absolute;
	top: 0;
	left: 0;
}

#views_slideshow_cycle_main_slides-page .text{
	background: rgba(0, 0, 0, 0.3);
}

/*POSITION DU TEXTE*/

#views_slideshow_cycle_main_slides-page .text.hd {
	position: absolute;
	top: 10%;
	right: 19%;
	width: 500px;
	height: auto;
	color: #fff;
	text-align: left;
	padding: 30px;
}

#views_slideshow_cycle_main_slides-page .text.hg {
	position: absolute;
	top: 10%;
	left: 19%;
	width: 500px;
	height: auto;
	color: #fff;
	text-align: left;
	padding: 30px;
}

#views_slideshow_cycle_main_slides-page .text.bd {
	position: absolute;
	bottom: 10%;
	right: 19%;
	width: 500px;
	height: auto;
	color: #fff;
	text-align: left;
	padding: 30px;
}

#views_slideshow_cycle_main_slides-page .text.bg {
	position: absolute;
	bottom: 10%;
	left: 19%;
	width: 500px;
	height: auto;
	color: #fff;
	text-align: left;
	padding: 30px;
}

/*CONTROLS NEXT PREVOUS SLIDESHOW*/

#views_slideshow_controls_text_previous_slides-page a{
	background:url("../images/arrow_left.png") no-repeat;
	text-indent:-9999px;
	position:absolute;
	height:54px;
	width:54px;
	top: 50%;
	z-index: 1000;
	left:10%;
}

#views_slideshow_controls_text_next_slides-page a{
	background:url("../images/arrow_right.png") no-repeat;
	text-indent:-9999px;
	position:absolute;
	height:54px;
	width:54px;
	top: 50%;
	z-index: 1000;
	right:10%;
}

#views_slideshow_controls_text_pause_slides-page a{
	text-indent:-9999px;
	position:absolute;
}

/*TEXT SLIDESHOW*/
.views-slideshow-cycle-main-frame-row-item .title{
	text-transform: uppercase;
	font-family: 'Helvetica Light', Arial, sans-serif;
	font-size: 3.333em;
	font-weight: normal;
}
.views-slideshow-cycle-main-frame-row-item .desc p{
	color: white;
	font-size: 1.167em;
}

.views-slideshow-cycle-main-frame-row-item .title:before{
	content:'+';
	padding-right: 5px;
}
.views-slideshow-cycle-main-frame-row-item .title.selected:before{
	content:'–';
	padding-right: 5px;
}